/* 

Pink #c53163
White #fff
Gray #2e2e2e
Gray 2 #333
White 2 #f2f2f2

*/

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 640px auto auto 225px 40px;
    grid-template-areas: 
    "top"
    "contect"
    "gallery"
    "contact-us"
    "bottom"
    "footer";
}

.top {
    grid-area: top;
    background-color: #c53163;
    background-image:url(image/header.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top nav > * {
    padding: 0 10px;
}

.top nav {
    height: 100px;
    width: 100%;
    font-family: sans-serif;
    font-style: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

a.active {
    text-decoration: underline;
    color: #fff;
}

.top header {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

